cordovaAppFolder/
myNewCordovaApp/
node_modules/
electron-window.js
.env
cloudinary_test.js
executable/
temp/
.gitignore
beta-detabase-setup.js
test.js
singapore_lottery_ledger.apk
singapore_lottery_ledger.exe
treasure.kra