body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    gap: 2%;
}

#login-section, #register-section {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

#login-section {
    width: 70%;  /* 70% width as requested */
}

#register-section {
    width: 28%;  /* Remaining width minus the gap */
    text-align: center;
}

.user-list {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 140px;
}

span {
    font-size: 22px;
}

.user-list {
    display: grid;
}

.user-button, #login-btn, #register-btn {
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.user-button {
    background-color: #fcfcfc;
    color: #333;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.user-button:hover {
    background-color: #5a5050;
    color: #fff;
}

#login-btn:hover, #register-btn:hover, #back-btn:hover {
    background-color:gold;
}

.login-input, .register-inputs {
    display: none;
}

.show {
    display: block !important;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="password"], input[type="text"], input[type="date"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 0 5px gold;
}

#login-btn, #register-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#back-btn {
    background-color: #333;
    font-size: 22px;
    border-radius: 10px;
}

.toggle-form {
    color: limegreen;
    cursor: pointer;
    display: inline-block;
}

.hidden {
    display: none;
}

#success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
}

.tick-wrapper {
    font-size: 60px;
    color: green;
    background-color: rgba(14, 232, 14, 0.1);
    border-radius: 100px;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.success-text {
    margin-top: 10px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: rgb(18, 216, 18);
}

@media (max-width: 600px) {
    body {
        font-size: 12px;
    }

    header {
        padding: 5px;
        font-size: 14px;
    }

    .container {
        flex-direction: column;
        gap: 10px;
    }

    #login-section, #register-section {
        width: 80%;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .user-button, #login-btn, #register-btn {
        padding: 5px 10px;
        font-size: 14px;
    }
}
