body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header,
main {
    padding: 10px;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
}

section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    background-color: #fff;
}

button:hover:not(:disabled):not(.selected) {
    background-color: gold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

#entry-sections {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

#section-4d-view,
#section-toto-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 25px;
    min-height: 400px;
}

#section-today-entry,
#section-total-spendings {
    margin: 20px auto;
    padding: 20px;
    overflow-x: auto;
    display: grid;
    justify-items: center;
    align-items: start;
}

#entries-table,
#today-totals-table,
#totals-table,
#winnings-table,
#prizes-history-table,
#purchase-history-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#today-totals-table,
#totals-table,
#winnings-table {
    width: fit-content;
}

#entries-table th,
#entries-table td,
#today-totals-table th,
#today-totals-table td,
#totals-table th,
#totals-table td,
#winnings-table th,
#winnings-table td,
#prizes-history-table th,
#prizes-history-table td,
#purchase-history-table th,
#purchase-history-table td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: center;
}

#entries-table th,
#today-totals-table th,
#totals-table th,
#winnings-table th,
#prizes-history-table th,
#purchase-history-table th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

#today-totals-table td:nth-child(3),
#today-totals-table th:nth-child(3),
#totals-table tbody tr td[colspan="2"]:first-child,
#totals-table tbody #total-spend-all,
#winnings-table tbody tr td[colspan="2"]:first-child {
    background-color: rgb(234, 212, 91);
}

#entries-table tbody tr:nth-child(odd), #prizes-history-table tbody tr:nth-child(odd), #purchase-history-table tbody tr:nth-child(odd) {
    background-color: #d0c9c9;
}

#entries-table tbody tr:hover,
#today-totals-table tbody tr td:hover:not(:nth-child(3)),
#totals-table tbody tr td:hover,
#winnings-table tbody tr td:hover,
#prizes-history-table tbody tr:hover,
#purchase-history-table tbody tr:hover {
    background-color: #5a5050;
}

#section-4d-view form,
#section-toto-view form {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    row-gap: 10px;
    align-items: center;
}

.form-row {
    width: 60%;
}

.form-row label,
.form-row input,
.form-row select,
#section-4d-view label,
#section-toto-view label
#winnings-form-4d label,
#winnings-form-toto label{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#section-4d-view button,
#section-toto-view button,
#save-entries-btn,
.submit-btn,
#save-winnings-btn,
#sorting-btn,
.upload-betslip,
.checked-btn,
#reset-order-btn {
    grid-row-start: 5;
    grid-column: span 2;
    justify-self: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sections-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#section-4d-view button:hover,
#section-toto-view button:hover,
#save-entries-btn:hover,
.submit-btn:hover,
#save-winnings-btn:hover,
.pagination button:not(:disabled):hover,
#sorting-btn:hover,
#reset-order-btn:hover {
    background-color: gold;
}

#section-4d-view input,
#section-4d-view select,
#section-toto-view input,
#section-toto-view select,
#winnings-form-4d input,
#winnings-form-toto input,
#winnings-form-4d select,
#winnings-form-toto select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#section-4d-view input:hover,
#section-4d-view select:hover,
#section-toto-view input:hover,
#section-toto-view select:hover,
#section-4d-view input:focus,
#section-4d-view select:focus,
#section-toto-view input:focus,
#section-toto-view select:focus,
#winnings-form-4d input:hover,
#winnings-form-toto input:hover,
#winnings-form-4d select:hover,
#winnings-form-toto select:hover
#winnings-form-4d input:focus,
#winnings-form-toto input:focus,
#winnings-form-4d select:focus,
#winnings-form-toto select:focus {
    border-color: gold;
    box-shadow: 0 0 5px gold;
}

.fa-trash {
    color: red;
    cursor: pointer;
}

.hidden {
    display: none;
}

#success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
}

.tick-wrapper {
    font-size: 60px;
    color: green;
    background-color: rgba(14, 232, 14, 0.1);
    border-radius: 100px;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.success-text {
    margin-top: 10px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: rgb(18, 216, 18);
}

body.effect-active {
    animation: flashEffect 0.5s;
}

@keyframes flashEffect {
    0% {
        background-color: rgba(0, 255, 0, 0.1);
    }

    100% {
        background-color: transparent;
    }
}

#today-totals-container {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
} 

.winnings-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.individual-form {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}

.form-title {
    flex: 0 0 5%;
    margin: 10px;
    min-width: 50px;
    text-align: start;
}

.winnings-form .form-row.button-row {
    display: flex;
    justify-content: center;
}

.winnings-form {
    display: none;
}

.toggle-form {
    cursor: pointer;
    color: limegreen;
}

#notes-container {
    position: relative;
    display: inline-block;
    width: 80%;
}

#self-notes {
    width: 100%;
    min-height: 250px;
    padding-right: 60px;
    box-sizing: border-box;
    resize: vertical;
}

.edit-icon, .cancel-icon {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    font-size: 30px;
}

.edit-icon {
    right: 20px;
}

.cancel-icon {
    right: 60px;
    display: none;
}

.fa-floppy-disk {
    color: rgb(16, 16, 211);
}

.long-table-container {
    overflow-x: auto;
    margin: 20px auto;
    padding: 5px;
}

.pagination {
    text-align: center;
    margin: 20px;
}

.pagination button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.page-number {
    display: inline-block;
    padding: 5px 10px;
    background: #f5f5f5;
}

#sorting-menu {
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.menu-row {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.menu-label {
    margin-right: 10px;
    font-weight: bold;
}

.menu-row button {
    padding: 10px;
    border-radius: 5px;
}

.selected {
    background-color: #333;
    color: limegreen;
    border: none;
    cursor: default;
}

.betslip-section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.image-container {
    width: 100%;
    height: 100%;
    border: 2px dashed #e0e0e0;
    margin-bottom: 10px;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; /* Prevent wrapping of child elements */
}

.image-div {
    position: relative;
    width: calc(100% - 20px);
    display: inline-block;
    margin: 10px;
    padding-top: 30px;
}

.image-div img {
    margin-top: 10px;
    display: block;
    width: 100%;
    max-height: 300px;
}

.image-div button.checked-btn {
    position: absolute;
    top: 0; 
    right: 50%; 
    width: 100%;
    transform: translateX(50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    border-radius: 5px;
    display: flex;
    flex-direction: column;  /* Stacks the children vertically */
    align-items: center;     /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
    height: 100%;
    background: radial-gradient(circle, rgb(234, 212, 91), limegreen);
    padding: 20px;
}

footer img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    body {
        font-size: 12px;
    }

    header {
        padding: 5px;
        font-size: 14px;
    }

    #entries-table th,
    #today-totals-table th,
    #entries-table td,
    #today-totals-table td,
    #purchase-history-table th,
    #purchase-history-table td {
        padding: 2px 4px;
    }

    #section-4d-view button,
    #section-toto-view button,
    #today-totals-container button,
    #save-entries-btn,
    .submit-btn,
    #save-winnings-btn,
    #sorting-btn,
    .menu-row button,
    .pagination button,
    .upload-betslip,
    #reset-order-btn {
        padding: 5px 10px;
        font-size: 14px;
        margin-bottom: 5px;
    }

    #section-4d-view input,
    #section-4d-view select,
    #section-toto-view input,
    #section-toto-view select,
    #winnings-form-4d input,
    #winnings-form-toto input,
    #winnings-form-4d select,
    #winnings-form-toto select {
        padding: 5px;
    }

    #entry-sections {
        flex-direction: column;
    }

    #section-4d-view,
    #section-toto-view {
        margin-bottom: 10px;
        min-height: auto;
    }

    #section-4d-view form,
    #section-toto-view form {
        display: flex;
        flex-direction: column;
    }

    .form-wrapper {
        flex-direction: column;
    }
    
}